<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GotYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8D350341C6AE20D00152BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D350481C6AE20E00152BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D350531C6AE20E00152BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
